/* Univerrsal Styling */
:root {
  --cyan : hsl(192, 37%, 48%);
  --purple : hsl(268, 34%, 53%);
  --navy : hsl(240, 21%, 20%);
  --gray : hsl(240, 10%, 57%);
  --aqua : hsla(192, 90%, 77%);
  --light-purple : hsl(268, 100%, 86%);
  --white : hsl(0, 0%, 98%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    background-color: var(--white);
    text-align: center;
    overflow-x: hidden;
  }

  button {
    width: 12.0625rem;
    height: 3.625rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: 900;
    color: #FFFFFF;
    border-radius: 1.8rem;
    border-style: none;
    cursor: pointer;
  }

  /* Container Section */
  .wrapper {
    padding: 0.5rem 0;
    position: relative;
  }

  .container {
    width: 33.75rem;
    margin: 0 auto;
  }

  /* Background Style */
  .bg-cyan {
    background-color: var(--cyan);
  }

  .bg-purple {
    background-color: var(--purple);
  }

  /* Font Style */
  .big-heading {
    font-size: 4rem;
    line-height: 64px;
  }

  .medium-heading {
    font-size: 2.5rem;
    line-height: 44px;
  }

  .text {
    margin: 2.1rem 0;
    font-size: 1.125rem;
    line-height: 26px;
    color: var(--gray);
  }

  .special {
    margin: 1rem 0;
    font-weight: 900;
    color: var(--cyan);
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .hidden {
    display: none;
  }

  .aqua {
    color: var(--aqua);
  }

  .purple {
    color: var(--light-purple);
  }

  /* Section Break */
  .section-break {
    position: relative;
    top: 1.75rem;
    z-index: 1;
  }

  .line {
    width: 1px;
    height: 5.25rem;
    margin: 0 auto;
    border-style:none;
    border-left: 1px solid var(--gray);
  }

  .circle {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    font-weight: 900;
    background-color: var(--white);
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 100%;
  }

  /* Button Section */
  .btn {
    margin: 0 0.5rem;
  }

  .btn:hover {
    opacity: 0.7;
  }

  /* Header Section */
  .page-header {
    margin-top: 3rem;
    margin-bottom: 7.7rem;
  }

  /* Logo Container */
  .logo-container {
    margin: 5rem auto;
  }

  /* Header Image */
  .mobile {
    display: none;
  }

  .left-image, .right-image {
    position: absolute;
  }

  .left-image {
    left: -3%;
    top:30%;
  }

  .right-image {
    right: -3%;
    top: 35%;
  }

  /* Main Section */
  .grid-container {
    width: 69.4rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1.875rem;
  }

  .grid-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* Footer Section */
  .footer-section {
    height: 19.25rem;
    padding: 0 10.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.125rem;
    line-height: 26px;
    color: #FFFFFF;
  }

  .background1 {
    background-image: url("images/desktop/footer-img.jpg");
    background-size: cover;
  }

  .background2 {
    background-color: var(--cyan);
    opacity: 0.9;
  }

  .footer-item {
    width: 33%;
    text-align: left;
  }

  @media only screen and (max-width:1290px) {
    .container {
      width: 60%;
    }

    .desktop {
      display: none;
    }

    .mobile {
      max-width: 100%;
      display: block;
      margin: 3rem auto;
    }

    .grid-container {
      width: 80%;
    }

    .footer-section {
      height: 26.75rem;
      margin: 0 auto;
      padding: 5.75rem 6.1rem 4.125rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .background1 {
      background-image: url("images/tablet/footer-img.jpg");
      background-size: cover;
    }

    h3.medium-heading {
      width: 80%;
    }

    .footer-item {
      width: 100%;
      text-align: center;
    }
  }

  @media only screen and (max-width:700px) {
    .container {
      width: 90%;
    }

    .big-heading {
      font-size: 2.5rem;
      line-height: 44px;
    }

    .medium-heading {
      font-size: 2rem;
      line-height: 32px;
    }

    .text {
      font-size: 1rem;
    }

    .link-button {
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .footer-section {
      padding: 4rem 2rem;
    }
  }
